<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Succès</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: #f8f9fa;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .success-message {
        text-align: center;
        max-width: 400px;
        padding: 20px;
        background-color: #e0ffe0;
        border: 2px solid #28a745;
        border-radius: 10px;
      }
      .success-message h1 {
        color: #28a745;
      }
    </style>
  </head>
  <body>
    <div class="success-message">
      <h1>Succès</h1>
      <p>Votre mot de passe a été défini avec succès. <br>
    Vous pouvez maintenant vous connecter sur l'application AviFit/RoWning</p>
    </div>
  </body>
</html>
